.card{
  border-radius: 30px;
}
.small, small {
  font-size: 95%;
  font-weight: 400;
  color: black;
}
.bg-gradient-primary {
  background-color: #c2c7cf;
  background-image: none;
}
.bg-login-image {
  background: url('../img/default-avatar-png-7.png');
  background-position: center;
  background-size: cover;
}
label {
  font-size: 16px;
  color: black;
}
.forgot-password {
  font-size: 80%;
  font-weight: 400;
  color: darkred;
}
.create-account {
  color: darkgreen;
}
.create-account:hover {
  color: black;
}
.h4 {
  color: #000;
}
.message {
  text-align: center;
  padding: 10px;
  margin: 55% 5% 0 5%;
  color: black;
  font-weight: bold;
  font-size: xx-large;
}
form.user .form-control-user {
  font-size: 0.8rem;
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
.radio_buttons {
  margin: 10px auto;
}
.footer{
  color: #000;
  font-weight: 500;
  font-size: 20px;
}
/*************************************************
**************************************************
***************** popup****************** */
#popupBoxOnePosition{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.7);
  display: none;
}
.popupBoxWrapper{
  width: 50%;
  margin: 50px auto;
  text-align: left;

}
.popupBoxContent{
  background-color: #FFF;
  padding: 15px;
  border-radius: 10px;
}

.btn {
width: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 425px){
  .popupBoxWrapper{
    width: 100%;  
  }
}
/* end here */


@media screen and (max-width: 425px) {
  .radio_buttons {
    margin-left: 20px;
  }
}
