/* .bg-white {
  background-color: #000 !important;
} */

/* this is for card */
.small, small {
  font-size: 80%;
  font-weight: 400;
  color: black;
}
.cardIndex{
  border-radius: 10px;
  text-align: center;
}
.text-xs {
  color: #4CAF50;
  font-size: 20px;
}
.cardText {
  color: #4CAF50;
  font-size: 20px;
}
.cardTextDetailed {
  color: #000;
  font-size: 20px;
}
.doc{
  color: #000;
}
.doc:hover{
  text-decoration: underline;
}
.test-zali:hover{
  text-decoration: none;
}
.titleHead{
  color: chocolate;
  font-size: 20px;
  font-weight: 500;
}
.titleHeadDetailed{
  color: chocolate;
  font-size: 20px;
  font-weight: 500;
}
.card-header {
  background-color: rgb(206, 206, 206);
}
.dateInfo{
  font-size: smaller;
  margin-top: 25px;
}
.dateInfoDetailed{
  color: #000;
  text-align: right;
  font-size: smaller;
  margin-top: 25px;
  margin-bottom: -15px;
}
.dateInfoWorker{
  background-color: darkseagreen;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0;
}
.someInfo{
  color: #000;
  font-size: medium;
  text-align: right;
  padding: 15px 20px 5px 15px;
}
.viewed{
  color: black;
  font-size: medium;
  text-align: center;
  padding: 15px 20px 5px 15px;
}
.showStatus{
  background-color: #595959;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
}
.myPostDetailed {
  text-align: left;
  font-size: smaller;
  margin-top: 25px;
  margin-bottom: -15px;
}
a:hover{
  text-decoration: none;
}
.postImg{
  max-width: 200px;
  max-height: 200px;
}

.count{
  font-size: 2.25rem;
}

/* file pdf */
.pdfP{
  margin-top: 15px;
  margin-left: 50px;
}
.pdfIcon{
  color: darkred;
  font-size: 40px;
  padding-right: 5%;
}
.pdfLink{
  color: #000;
}
.pdfLink:hover{
  color: #000;
  text-decoration: underline;
}
/* top bar */
.topbarCursor{
  cursor: default;
}
.sms{
  color: #000;
}

/* for side bar */
.active{
  background-color: rgba(77, 255, 77,0.5);
  color: #fff;
}
.sidebar-dark .sidebar-heading {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
.sidebar-item {
  display: block;
  width: 100%;
  padding: 15px;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: left;
}
.sidebar-item:hover{
  background-color: beige;
  text-decoration: none;
  color: #000;
}
.footer{
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.foot{
  background-color: #2f56c8;
}

/* for information post form
Style inputs, select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.btnSubmit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: 50px auto;
}
/* Ends */

@media screen and (max-width: 768px) {
  .sidebar-dark .sidebar-heading {
    font-size: 10px;
  }
  .sidebar-item {
    padding: 5px;
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  